/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 48px;
    line-height: 2.0em;
	letter-spacing:5px;
	word-spacing: 50px;
	line-height: 1.6;
	font-weight:600
}




body {
font-family: 'Koulen', cursive;
font-family: 'Tilt Prism', cursive;
Color:#993333;
	background: #1340E5
}


#container {
	Position: relative;
	width:900px;
	margin:auto
}


.Zanka{
	Position: relative;
	bottom:50px;
	left: 90px;
	font-size:300px;
	margin:auto;
	Color: #E2E513
}

.No{
	Position:relative;
	right: -170px;
	font-size:200px;
	margin: auto;
}

.Tachi{
	Position:relative;
	Left:50px;
	Font-size:300px;
	bottom:-590px;
	margin:auto;
	text-decoration: underline overline;
	color: #17E709
}

.B{
	position: relative;
	right: 15px;
	font-size: 90px;
	margin: auto
}


.A2{
	position: relative;
	bottom:-50px;
	font-size: 80px;
	left:-20px;
	color: #860ACD
}

.N{
	position: relative;
	bottom:-80px;
	font-size:80px;
	left:-10px;
	
}

.K{
	position: relative;
	font-size:100px;
}
.A{
	Position: relative;
	font-size: 100px;
	color:#FEB700
}

.I{
	Position: relative;
	font-size: 100px;
}
.ゴゴゴゴ{
position: relative;
left:-1500px;
bottom:-300px;
font-size:100px;
color: #E7B509
}
